@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;

  box-sizing: border-box;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #0d1117;
  color: rgb(198, 216, 231);
}

a {
  color: aqua;
  text-decoration: none;
}

.container {
  min-height: 100vh;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.vcard-names {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 11px;
}

.vcard-names h2 {
  font-weight: unset;
  font-size: 14px;
  color: #8b949e;
  margin-bottom: 11px;
}

.p-label {
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
}

.p-label span {
  display: block;
  margin-top: 6px;
}

.container-internal {
  padding: 14px;
  margin-left: 42px;
  border: 1px solid #2b518b;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

img  {
  margin: 5px
}

.ul {
  margin: 20px;
}

.ul li {
  margin-bottom: 8px;
}

.img {
  position: relative;
}

.img img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.emoji {
  background-color: #0d1117;
  position: absolute;
  top: 170px;
  right: 0;
  padding: 4px;
  text-align: center;
  border: 1px solid #85dde065;
  border-radius: 50%;
}

.emoji::after {
  content: "🎓 Ciência da Computação";
  width: 125px;
  padding: 6px;
  border-radius: 50px;
  position: absolute;
  background-color: #0d1117;
  border: 1px solid #85dde065;
  left: -1px;
  top: 0px;
  font-size: 10px;
  color: white;
  transition: all 0.3s ease;
  opacity: 0;
}

.emoji:hover::after {
  opacity: 1;
}

.border {
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px solid #2b518b;
}

.social {
  margin-top: 33px;
  margin-bottom: 6px;
}

.rotate-center {
  height: 30px;
  -webkit-animation: rotate-center 3000ms ease-in-out 2000ms infinite reverse backwards;
  animation: rotate-center 3000ms ease-in-out 2000ms infinite reverse backwards;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


@media (max-width: 1101px) {
  .img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-internal {
    margin: auto;
  }

  .container img {
    max-width: 100%;
  }
}